<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog_styles.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <title>My Blog
        </title>
    </head>
    <body>
        <navbar>
            <ul class="navbar">
                <li>
                    <a href="/posts">Home</a>
                </li>
                <li>
                    <a href="/new">New Post</a>
                </li>
            </ul>
        </navbar>
        <h1>Mongo Blogger</h1>
        {{{body}}}
    </body>
</html>