<div class="new_post">
    <form id="post_form" action="/posts" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="body" cols="100" rows="20" required></textarea>
        <input type="text" name="tags" placeholder="Tags">
        <input type="text" name="author" placeholder="Anonymous">
        <input type="submit" value="Post">
    </form>
</div>